/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./fonts/Inter-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./fonts/Inter-Bold.ttf') format('TrueType');
}

/* Variables */
:root {
  --echo-color-primary: #4e75f6;
  --echo-color-primary-dark: #3864F5;
  --echo-theme-color: white;
  --echo-text-color-primary: #16171C;
  --echo-text-color-secondary: #4C505D;
  --echo-text-color-muted: #929AB2;
  --echo-bg-color: #F4F5FA;
  --echo-border-color: #E6E8ED;
  --echo-border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --echo-theme-color: #16171C;
    --echo-color-primary: #6e8ef7;
    --echo-color-primary-dark: #5f82f7;
    --echo-text-color-primary: rgba(255, 255, 255, .9);
    --echo-text-color-secondary: rgba(255, 255, 255, .7);
    --echo-text-color-muted: rgba(255, 255, 255, .5);
    --echo-bg-color: rgba(255, 255, 255, .05);
    --echo-border-color: rgba(255, 255, 255, .1);
  }
}

/* Base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

body {
  background: var(--echo-theme-color);
  color: var(--echo-text-color-primary);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: "inter", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
  color: var(--echo-color-primary);
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  color: var(--echo-color-primary-dark);
}

::selection {
  color: white;
  background: #4e75f6;
}

.echo-main {
  max-width: calc(800px - env(safe-area-inset-left) - env(safe-area-inset-left));
  margin: 0 auto;
  padding: 30px;
}

.echo-footer {
  padding: 20px 0 80px;
  border-top: 1px solid var(--echo-border-color);
}

.echo-footer__inner {
  font-size: 14px;
  color: var(--echo-text-color-muted);
}

/* Post Page */
.echo-post {
  padding: 80px 0;
}

.echo-post__header {
  margin-bottom: 80px;
}

.echo-post__breadcrumb {
  margin-bottom: 16px;
}

.echo-post__breadcrumb-link {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: var(--echo-color-primary);
  text-transform: uppercase;
}

.echo-post__title {
  font-size: 48px;
  line-height: 1.2;
}

.echo-post__meta {
  margin-top: 10px;
  font-size: 14px;
  color: var(--echo-text-color-muted);
}

.echo-post__date + .echo-post__count {
  margin-left: 16px;
}

.echo-post__content {
  line-height: 1.65;
  font-size: 1.125em;
}

.echo-post__content > *:last-child {
  margin-bottom: 0;
}

.echo-post__content h1,
.echo-post__content h2,
.echo-post__content h3 {
  margin: 48px 0 24px;
  line-height: 1.2;
}

.echo-post__content h4,
.echo-post__content h5,
.echo-post__content h6 {
  margin: 32px 0 16px;
  line-height: 1.2;
}

.echo-post__content h1 {
  font-size: 42px;
}

.echo-post__content h2 {
  font-size: 36px;
}

.echo-post__content h3 {
  font-size: 30px;
}

.echo-post__content h4 {
  font-size: 24px;
}

.echo-post__content h5 {
  font-size: 20px;
}

.echo-post__content h6 {
  font-size: 18px;
}

.echo-post__content h1 + h2,
.echo-post__content h1 + h3,
.echo-post__content h1 + h4,
.echo-post__content h1 + h5,
.echo-post__content h1 + h6,
.echo-post__content h2 + h3,
.echo-post__content h2 + h4,
.echo-post__content h2 + h5,
.echo-post__content h2 + h6,
.echo-post__content h3 + h4,
.echo-post__content h3 + h5,
.echo-post__content h3 + h6,
.echo-post__content h4 + h5,
.echo-post__content h4 + h6,
.echo-post__content h5 + h6 {
  margin-top: 0;
}


.echo-post__content hr {
  margin: 32px 0;
  border: 0; 
  border-top: 1px solid var(--echo-bg-color);
}

.echo-post__content p,
.echo-post__content ul,
.echo-post__content ol,
.echo-post__content pre,
.echo-post__content table,
.echo-post__content blockquote {
  margin: 16px 0;
}

.echo-post__content a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: var(--echo-text-color-primary);
}

.echo-post__content a:hover {
  color: var(--echo-color-primary);
}

.echo-post__content img {
  display: block;
  max-width: 100%;
  margin: 24px auto;
}

.echo-post__content ul,
.echo-post__content ol {
  padding-left: 21px;
}

.echo-post__content li {
  padding-left: 5px;
  margin: 5px 0;
}

.echo-post__content .hljs {
  display: block;
  overflow-x: auto;
  padding: 16px;
  border-radius: var(--echo-border-radius);
  font-size: 14px;
  line-height: 1.45;
  background: var(--echo-bg-color);
  color: var(--echo-text-color-primary);
}

.echo-post__content code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace
}

.echo-post__content p code {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  background: var(--echo-bg-color);
}

.echo-post__content blockquote {
  padding: 0 16px;
  border-left: 3px solid var(--echo-bg-color);
  font-style: italic;
  color: var(--echo-text-color-secondary);
}

.echo-post__content table {
  width: 100%;
  font-size: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.echo-post__content tbody tr:nth-child(2n) {
  background: var(--echo-bg-color);
}

.echo-post__content th,
.echo-post__content td {
  padding: 10px 12px;
  border-bottom: 1px solid var(--echo-border-color);
  text-align: left;
}

.echo-post__content th {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-color: var(--echo-text-color-primary);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.echo-post__video-container,
.echo-post__audio-container {
  margin: 24px 0;
}

.echo-post__video,
.echo-post__audio {
  display: block;
  width: 100%;
}

/* In Planet */
.in-planet .echo-post {
  padding: 40px 0 60px;
}

.in-planet .echo-footer,
.in-planet .echo-post__breadcrumb {
  display: none;
}

.in-planet .echo-post__content ul,
.in-planet .echo-post__content ol {
  padding-left: 25px;
}

/* Responsive */
@media (prefers-color-scheme: dark) {
  .echo-post__content td {
    border: 0;
  }
}

@media screen and (max-width: 850px) {
  .echo-footer {
    padding-bottom: 30px;
  }
  
  .in-planet .echo-post {
    padding: 0 0 50px;
  }
  
  .echo-post {
    padding: 30px 0 50px;
  }
  
  .echo-post__header {
    margin-bottom: 40px;
  }
  
  .echo-post__title {
    font-size: 36px;
  }
  
  .echo-post__content {
    font-size: 16px;
  }
  
  .echo-post__content h1, 
  .echo-post__content h2, 
  .echo-post__content h3 {
    margin: 32px 0 16px;
  }
  
  .echo-post__content h1 {
    font-size: 30px;
  }
  
  .echo-post__content h2 {
    font-size: 26px;
  }
  
  .echo-post__content h3 {
    font-size: 22px;
  }
  
  .echo-post__content h4 {
    font-size: 20px;
  }
  
  .echo-post__content h5 {
    font-size: 18px;
  }
  
  .echo-post__content h6 {
    font-size: 16px;
  }
  
  .echo-post__content table {
    font-size: 14px;
  }
  
  .echo-post__content th {
    font-size: 12px;
  }
}
