<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#16171C" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{{ assets_prefix }}assets/style.css?sha256={{ style_css_sha256 }}">
    <link rel="preload" href="{{ assets_prefix }}planet.json" as="fetch" type="application/json" crossorigin="anonymous">
    <link rel="preload" href="{{ assets_prefix }}rss.xml" as="fetch" type="application/rss+xml" crossorigin="anonymous">
    <title>{% block title %}{{ page_title|escape }}{% endblock %}</title>
    <script>
      let userAgentRegex = /Planet\/\S*/;
      window.PLANET = {
        visitedFromPlanetClient: !!navigator.userAgent.match(userAgentRegex),
        assetsPrefix: '{{ assets_prefix }}',
      };
    </script>
    {% if has_avatar %}
    <link rel="icon" href="{{ assets_prefix }}avatar.png" sizes="144x144">
    {% endif %}
    {% block head %}{% endblock %}
    {% if planet.plausibleEnabled %}
    <script defer data-domain="{{ planet.plausibleDomain }}" src="https://{{ planet.plausibleAPIServer }}/js/plausible.local.js"></script>
    {% endif %}
    {% if custom_code_head.count > 0 %}{{ custom_code_head }}{% endif %}
  </head>
  <body>
    {% if custom_code_body_start.count > 0 %}{{ custom_code_body_start }}{% endif %}
    <div class="echo-main">
      {% block main %}
      {% endblock %}
      <footer 
        class="echo-footer"
        id="footer">
        <div 
          class="echo-footer__inner">
          Powered by 
          <a 
            href="https://www.planetable.xyz/"
            title="Planet">
            Planet
          </a> 
          
          <span>
            +
          </span>
          
          <a 
            href="https://0xecho.xyz"
            title="ECHO">
            ECHO
          </a>
        </div>
      </footer>
    </div>
    {% if custom_code_body_end.count > 0 %}{{ custom_code_body_end }}{% endif %}
    
    <script>
      if (window.PLANET.visitedFromPlanetClient) {
        document.body.classList.add('in-planet')
      }
    </script>
  </body>
</html>
