{% extends 'base.html' %}
{% block head %}
<!-- Open Graph Tags -->
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title|escape }}" />
<meta property="og:site_name" content="{{ planet.name|escape }}" />
<meta property="og:description" content="{{ article_summary|escape }}" />
<meta property="article:published_time" content="{{ article.created|formatDateC }}" />
{% if article.heroImage != nil %}
<meta property="og:image" content="{{ article.heroImage }}" />
<meta property="og:image:alt" content="{{ article.title|escape }}" />
{% else %}
<meta property="og:image" content="{{ assets_prefix }}avatar.png" />
<meta property="og:image:alt" content="{{ planet.name|escape }}" />
{% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ planet.name|escape }}" />
<meta name="twitter:title" content="{{ article.title|escape }}" />
<meta name="twitter:description" content="{{ article_summary|escape }}" />
{% if article.heroImage != nil %}
<meta name="twitter:image" content="{{ article.heroImage }}" />
{% else %}
<meta name="twitter:image" content="{{ assets_prefix }}avatar.png" />
{% endif %}
<!-- End Open Graph Tags -->
<link rel="stylesheet" href="../assets/highlight/github.css">
<link rel="stylesheet" href="../assets/highlight/github-dark.css">
<script src="../assets/highlight/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((el) => {
      hljs.highlightElement(el);
    });
  })
</script>
{% endblock %}
{% block main %}
<div
  class="echo-post echo-container">
  <div
    class="echo-post__header">
    <div
      class="echo-post__breadcrumb">
      <a 
        class="echo-post__breadcrumb-link"
        href="../"
        title="{{ planet.name|escapejs }}">
        <- {{ planet.name | escapejs }} 
      </a>
    </div>

    <h1
      class="echo-post__title">
      {{ article.title | escape }}
    </h1>

    <div
      class="echo-post__meta">
      <span
        class="echo-post__date">
        {{ article.created | ymd }}
      </span>
      
      <span
        class="echo-post__count">
        7.5k views
      </span>
    </div>
  </div>

  <div 
    class="echo-post__content">
    {% if article.hasVideo %}
    <div 
      class="echo-post__video-container">
      <video 
        class="echo-post__video" 
        controls 
        playsinline>
        <source 
          src="{{ article.videoFilename }}">
      </video>
    </div>
    {% endif %}
    
    {% if article.hasAudio %}
    <div
      class="echo-post__audio-container">
      <audio 
        class="echo-post__audio" 
        controls>
        <source 
          src="{{ article.audioFilename }}">
      </audio>
    </div>
    {% endif %}
    {{ content_html }}
  </div>
</div>
{% endblock %}
